DATABASE_URL=

#Auth
BETTER_AUTH_SECRET=

BETTER_AUTH_URL= # Base URL of your app

GITHUB_CLIENT_ID=

GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=

GITHUB_APP_ID=

GITHUB_APP_NAME=

NEXT_PUBLIC_GITHUB_PUBLIC_LINK=

GITHUB_APP_PRIVET_KEY=

GITHUB_WEBHOOK_SECRET=